#title {
  position: absolute;
  left: calc(25% - 24px);
  font-size: 1.5rem;
}

#content {
  background-color: #fff;
  position: absolute;
  top: 10%;
  left: 50%;
  min-height: 80%;
  width: 50%;
  margin-left: calc(-25% - 24px);
  padding: 24px;

  table {
    width: 100%;
  }
}

button {
  height: 45px;
  width: 120px;
}
